# Entorno virtual
.venv/
__pycache__/
*.pyc

# Data Lake (archivos grandes)
bronze/

# Excluimos todo el contenido de nonoa_gncn
bronze/noaa_ghcn/**

# Archivos temporales de dlt
.dlt/

# Otros
*.log
.DS_Store
Thumbs.db
